.logo{
    float: left;
    height: 50px;
    width: 40%;
    margin-left: 5%;
    margin-top: 1%;
}
.bc{
    background:linear-gradient(rgba(11, 0, 0, 0.5), rgba(11, 0, 0, 0.5)), url(Netflix-content.jpeg);
}
select.option{
    float: left;
    box-sizing: content-box;
    color: black;
    margin-left: 35%;
    margin-top: 2%;
    font-size: x-large;
}select.option option{
    color: black;
    font-size: x-large;
}
.sign{
    float: left;
    display: inline-block;
    box-sizing: content-box;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(225, 9, 9);
    margin-top: 0%;
    margin-left: 2%;
    width: 80px;
    height: 30px;;
}
.center{
    position: relative;
    line-gap-override: 10%;
    text-align: center;
    font-size: x-large;
    margin-top: 6%;
    height: 200px;
    width: 500px;
    color: aliceblue;
    float: left;
    margin-left: 30%;
}
.p{
    margin-top: 1%;
    margin-left: 5%;
    color: aliceblue;
    position: relative;
    text-align: center;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    float: left;
    width: 500px;
}
.p1{
    margin-top: 2%;
    margin-left: 24%;
    color: aliceblue;
    position: relative;
    text-align: center;
    font-size: large;
    float: left;
    height: 10px;
    width: 700px;
}
.search{
    margin-top: 1%;
    margin-left: 28%;
    color: black;
    float: left;
    font-size: x-large;
    height: 50px;
    width: 600px;
}
